= u.input :email, input_html: { required: 'required', autofocus: true }
= u.input :password, label: 'Password', input_html: { required: 'required', id: 'password_inline' }
= u.input :password_confirmation, label: 'Confirm Password', required: true, input_html: { required: 'required' }
