%p
  If you need any assistance, do not hesitate to contact me:
  %ul
    %li
      Via the
      = link_to 'contact form', contact_url
    %li
      Via email
      = mail_to('stella.rouzi@gmail.com')
