= semantic_form_for Contact.new, url: contact_path do |f|
  - unless current_user
    = f.input :email, label: 'Email: ', input_html: { required: 'required', class: 'wow fadeInUp' }
  = f.input :subject, label: 'Θέμα', include_blank: false, input_html: { class: 'wow fadeInUp' }
  %label{ class: 'control-label', for: 'contact_body'}
    Κείμενο *
  %textarea.form-control{ rows: 5, maxlength: 500, required: 'required', name: 'contact[body]', class: 'wow fadeInUp' }

  %br
  = f.submit 'Αποστολή', class: 'btn btn-default wow fadeInUp'
