.row
  .col-md-12
    .page-header.text-center
      %h1 Ρωτήστε μας
      .fas.fa-star{ style: 'color: #8e0686' }
      = mail_to 's.agorastidis@gmail.com'
      .fas.fa-star{ style: 'color: #8e0686' }

.container-fluid
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-purple
        .panel-heading
          .panel-title
            %h2
              Φόρμα Επικοινωνίας
        .panel-body
          = render partial: 'contact_form'
