.container
  .row
    .col-md-12
      .page-header.below-menu
        %h1.text-center.below-menu
          Demo Rails App
        .text-muted.text-center
          Fork the Demo Rails app
          = link_to 'https://github.com/differentreality/demo_rails_app', 'https://github.com/differentreality/demo_rails_app'
          %br
          and start coding immediately!

      - unless current_user
        = render template: 'devise/sessions/new'
