.container
  .row
    .col-md-12
      .page-header.below-menu
        %h1.text-center.below-menu
          Παππάς Ιωάννης
        .text-muted.text-center
          Διαχείριση
          %br
          Τιμολόγια - Συνεργείο - Αποθήκη

      - unless current_user
        = render template: 'devise/sessions/new'
