f# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 01e991425f08f1b6f12e573b72a563da0909592bc775a6178f97790cc8185c94778388ccc2980d9c49e843114d1843692e52c3333105b08ac6e2fa5f79039070

  # Sample data so that mocks work
  google_key: 'sample'
  google_secret: 'sample'

  facebook_key: 'sample'
  facebook_secret: 'sample'

test:
  secret_key_base: 7097b0dc1d31f2be09be0da4acb166beae03cb9ded5c67569d00fbc72fee9045ea81a162d734377e2a8f3bdc32070124ff923e23305fb64ea9b6f560432f2a21

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  secret_token: <%= ENV['SECRET_KEY_BASE'] %>

  # Leave the variables' names empty, unless you use the providers, in which case you need to
  # register your applicaton and add the actual keys.

  # If you add more providers, keep the format of the variables: provider_key, provider_secret

  # Register your appllication with Google from https://code.google.com/apis/console#:access
  google_key: <%= ENV['GOOGLE_KEY'] %>
  google_secret: <%= ENV['GOOGLE_SECRET'] %>

  # Register your application with Facebook from https://developers.facebook.com/
  facebook_key: <%= ENV['FACEBOOK_KEY'] %>
  facebook_secret: <%= ENV['FACEBOOK_SECRET'] %>

  # If you add more providers that do not require a key, you still have to create the 2 variables with sample data
