.page-header
  %h2
    .text-center
      We are sorry to inform you that an error has occured.
%h3.text-center
  Please try again
  %br
%h4.text-center Try refreshing your browser
%br
%br

%h3.text-center
  If you are still experiencing problems after a few minutes
  = link_to 'please contact us!', contact_path
