.btn-purple {
  background-color: #52068e;
  color: #fff;
  font-weight: bold;
}

.panel-purple {
  border-color: #06868e !important;
}

.panel-purple > .panel-heading {
  background-color: #06868e !important;
  color: #ffff !important;
}
