= @resource.email
,

%p
  has requested a password change. To change your password, please clikc on the following link:

%p
  = link_to 'Change Password', edit_password_url(@resource, reset_password_token: @token)

%p
  If you didn't ask for a change of your password, please ignore this e-mail.
%p
  Your password will NOT be changed, unless you click on the following link and enter a new password.

%br

= render partial: 'shared/email_footer'
