.navbar.navbar-bottom
  %hr
  .col-lg-6.col-md-6.col-sm-7.col-xs-12
    %ul.nav.navbar-nav.fullwidth

      .col-lg-8.col-md-6.col-sm-7.col-xs-12
        %li.navbar-text
          = link_to "© 2017-#{Date.today.year} Storage Managment App", "#{current_page?(root_path) ? '#' : root_path}"

      .col-lg-4.col-md-6.col-sm-5.col-xs-12
        %li.navbar-text
          = link_to contact_path, title: 's.agorastidis@gmail.com' do
            %i.fa.fa-envelope-o
            Επικοινωνία

  -# .col-lg-4.col-md-3.col-sm-5.col-xs-12
  -#   %ul.nav.navbar-nav.navbar-right.fullwidth
  -#     .col-lg-12.col-md-12.col-sm-12.col-xs-12
  -#       %li.navbar-text
  -#         = link_to recommend_path, title: 'Send an email with info about the Demo Rails App' do
  -#           Recommend us!
  -#           -# %i.fa.fa-thumbs-up.fa-2x{ style: 'color: #06868e' }

  -# .col-lg-2.col-md-12.col-sm-12.col-xs-12
  -#   %ul.nav.navbar-nav.navbar-right.fullwidth
  -#     %li.navbar-text{ style: 'display: inline-flex !important' }
  -#       = link_to 'https://www.facebook.com/pages/%CE%A0%CE%B1%CF%80%CF%80%CE%B1%CF%82-%CE%A0%CE%B1%CF%83%CF%87%CE%B1%CE%BB%CE%B7%CF%82-Landini/823682970976345?__tn__=%2CdkC-R-R&eid=ARD6W0OwbDhG2LmQ0xBFYo2PvFHIP9MNSG6kKcbl7zI7KVK-JoKzBHU9rQYsj9s1x9zO1Yvvl22gB3Uh&hc_ref=ARTSZRJ-2QbfokmZP9fUFaC4lm1LIc3FqSsg6FQjo8mnCaObgRqcDIXmeMVpEizrnKs&fref=tag',  target: '_blank', title: 'Visit our Facebook page', style: 'padding: 8px' do
  -#         %i.fa.fa-facebook-square.fa-3x.text-primary
  -#       -# .fb-like{ 'data-href' => 'https://www.facebook.com/', 'data-layout' => 'button', 'data-action' => 'like', 'data-size' => 'large', 'data-show-faces' => 'true', 'data-share' => 'true', style: 'padding-top: 20px' }
