#regular-navbar.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .navbar-header.fullwidth
    = link_to "Αρχική", "/", :target => "_self", class: 'navbar-brand'
    -# %button#sidebarCollapse.btn.btn-info{:type => "button"}
    -#   %i.fa.fa-align-justify
    -# - if user_signed_in?
    -#   = link_to "Πελάτες", customers_path, class: 'navbar-brand'
    -#   = link_to "Προμηθευτές", customers_path, class: 'navbar-brand'
    -#   = link_to "Αποθήκη", items_path, class: 'navbar-brand'
    -#   = link_to "Τρακτέρ", tractors_path, class: 'navbar-brand'
    -#   = link_to "Παρελκόμενα", machineries_path, class: 'navbar-brand'
    -#   = link_to "Πληρωμές", payments_path, class: 'navbar-brand'
    .navbar-collapse.collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          - if controller.class.name.split("::").first == 'Admin'
            = render 'layouts/admin_menu'

      %ul.nav.navbar-nav.navbar-right
        = render partial: 'layouts/user_menu'
